node_modules/
dist/
coverage/
.env
.env.*
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
/.idea/
.turbo/
*.local
*.log
/.pnp
/.pnp.js
/.yarn/*
/.nyc_output
/.parcel-cache
/.sass-cache

# optional runtime
debug.log
/node_modules
/dist
/.env
/coverage
/.vscode
/src/auth/tokens/*.token.json